# Игнорируем системные папки и файлы Bitrix
# Игнорируем Bitrix папки и файлы
/activities/
/admin/
/blocks/
/cache/
/catalog_export/
/components/
/css/
/fonts/
/gadgets/
/images/
/js/
/legal/
/managed_cache/
/mobileapp/
/modules/
/otp/
/panel/
/php_interface/
/services/
/sounds/
/stack_cache/
/templates/
/themes/
/tools/
/updates/
/webdav/
/wizards/
/.access.php
/.settings.php
/bitrix.php
/composer-bx.json
/composer.json.example
/coupon_activation.php
/footer.php
/groupdav.php
/header.php
/index.php
/license_key.php
/p3p.xml
/routing_index.php
/rss.php
/spread.php
/urlrewrite.php
/virtual_file_system.php